{
  "env": {
    "node": true,
    "es2020": true
  },
  "plugins": [
      "prettier"
  ],
  "rules": {
      "prettier/prettier": "error"
  },
  "extends": [
      "plugin:prettier/recommended"
  ]
}
