{
  "env": {
    "node": true,
    "es2020": true
  },
  "plugins": [
      "prettier"
  ],
  "rules": {
      "no-unused-vars": ["error", { "args": "none" }],
      "prettier/prettier": "error"
  },
  "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended"
  ]
}
